:root{
    /* main color */
    --main-color: #2D7E7C;
    --main-color-light: #51B797;
    /* secondary color */
    --secondary-color: #16162A;
    --secondary-color-light: #1E3655;
    /* call to action color */
    --cta-color: #EF795C;
    --cta-color-light: #EE9A79;
    /* semantic  colors */
    --success-color: #29CF4E;
    --warning-color: #E51C1C;
    --info-color: #4770FF;
    /* neutral colors */
    --white-color: #FFFDFA;
    --cream-color: #FFF5E0;
    --whitegray-color: #D9D9D9;
    /* --gray-color: #FFF5E0; */
    --black-color: #262626;
}
@font-face {
    font-family: "public-thin";
    src: url(../fonts/Public_Sans/static/PublicSans-Thin.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "inter-black";
    src: url(../fonts/Inter/static/Inter-Black.ttf);
}
@font-face {
    font-family: "inter-thin";
    src: url(../fonts/Inter/static/Inter-Thin.ttf);
}
body{
    background-color: var(--white-color);
    color: var(--black-color);
    font-family: 'inter-thin', sans-serif ;
    font-size: 1.2rem;
    margin: 0px;
    height: 100vh;
    box-sizing: border-box;
}
h1{
    font-family: "inter-black", sans-serif;
    font-size: 36px;
    color: var(--white-color);
}
p{
    font-family: "inter-thin", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
/* index header */
header{
    height: 100vh;
}
header div p{
    color: var(--white-color);
}
.indexvisualcolumns{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.indexvisual{
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-color);
    font-size: 24px;
    font-family: 'public-thin', sans-serif;
}
nav ul.left{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    height: 100%;
}
nav ul.right{
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding-right: 70px;
}
nav ul li{
    padding: 0px 20px;
}
nav ul.left li:first-child{
    padding-left: 64px;
}
.donate{
    background-color: var(--cta-color);
    padding: 15px 20px;
    border-radius: 8px;
}
.language{
    background-color: var(--whitegray-color);
    padding: 15px;
    border-radius: 8px;
    margin-left: 10px;
    font-size: 16px;
}
nav ul li a{
    text-decoration: none;
    color: var(--white-color);
}
nav ul li a.active, nav ul li a:hover{
    border-bottom: 2px solid var(--white-color);
}
.headercontentindex{
    margin-left: 64px;
}
.headercontentindex p{
    width: 440px;
}
.headerctas{
    width: 380px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
a.donatectaheader:active, a.donatectaheader:hover, a.donatectaheader:link, a.donatectaheader:visited{
    background-color: var(--main-color-light);
    color: var(--white-color);
    text-decoration: none;
    text-align: center;
    padding: 10px 10px;
    width: 120px;
    border-radius: 8px;
}
a.contactctaheader:active, a.contactctaheader:hover, a.contactctaheader:link, a.contactctaheader:visited{
    border: 1px var(--white-color) solid;
    color: var(--white-color);
    text-decoration: none;
    padding: 10px 10px;
    text-align: center;
    width: 180px;
    border-radius: 8px;
}
/* end index header */
/* section 1 */
.section-1{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 268px 78px auto auto;
    column-gap: 24px;
    row-gap: 24px;
    width: 1184px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
.section-1 .block1{
    background-color: var(--main-color);
    grid-row: auto / span 2;
    width: 380px;
    height: 370px;
    border-radius: 24px;
}
.section-1 .block2{
    background-color: var(--main-color-light);
    grid-row: auto / span 1;
    width: 780px;
    height: 268px;
    border-radius: 24px;
    grid-column: auto / span 2;
}
.section-1 .block3{
    background-color: var(--main-color);
    grid-row: auto / span 2;
    grid-column: 1;
    width: 380px;
    height: 338px;
    border-radius: 24px;
}
.section-1 .block4{
    background-color: var(--main-color-light);
    grid-row: 2 / span 3;
    grid-column: 2;
    width: 428px;
    height: 438px;
    border-radius: 24px;
}
.section-1 .block5{
    grid-row: 2 / span 3;
    grid-column: 3;
}
.section-1 .block5img{
    border-radius: 24px;
}
/* end section 1 */

/* section 2 */
.section-2{
    height: 70vh;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 122px 122px 139.5px 139.5px;
    column-gap: 24px;
    row-gap: 24px;
    width: 1184px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
.section-2 .block1{
    grid-row: 1 / span 4;
    grid-column: 1;
}
.section-2 .block1img{
    border-radius: 24px;
}
.section-2 .block2{
    background-color: var(--main-color-light);
    grid-row: 1 / span 2;
    grid-column: 2;
    width: 378px;
    height: 268px;
    border-radius: 24px;
}
.section-2 .block3{
    background-color: var(--main-color);
    grid-row: 1 / span 2;
    grid-column: 3;
    width: 378px;
    height: 268px;
    border-radius: 24px;
}
.section-2 .block4{
    background-color: var(--main-color-light);
    grid-row: 3 / span 4;
    grid-column: 2;
    width: 378px;
    height: 303px;
    border-radius: 24px;
}
.section-2 .block5{
    background-color: var(--main-color-light);
    grid-row: 3 / span 4;
    grid-column: 3;
    width: 378px;
    height: 303px;
    border-radius: 24px;
}

/* end section 2 */
/* section 3 */
.section-3{
    height: 30vh;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr;
    column-gap: 24px;
    row-gap: 24px;
    width: 1184px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
.section-3 .block1{
    background-color: var(--main-color-light);
    grid-row: 1;
    grid-column: 1;
    width: 376px;
    height: 237px;
    border-radius: 24px;
}
.section-3 .block2{
    background-color: var(--main-color-light);
    grid-row: 1;
    grid-column: 2;
    width: 376px;
    height: 237px;
    border-radius: 24px;
}
.section-3 .block3{
    background-color: var(--main-color-light);
    grid-row: 1;
    grid-column: 3;
    width: 376px;
    height: 237px;
    border-radius: 24px;
}
/* end section 3 */
/* nav */
/* end nav */