@import url("https://use.typekit.net/jvl1kge.css");

:root{
    /* main color */
    --main-color: #6F79B9;
    --main-color-light: #51B797;
    /* secondary color */
    --secondary-color: #505CA5;
    --secondary-color-light: #6F79B9;
    --dark-secundair: #5864AE;
    /* call to action color */
    --cta-color: #EF795C;
    --cta-color-light: #EE9A79;
    /* semantic  colors */
    --success-color: #29CF4E;
    --warning-color: #E51C1C;
    --info-color: #4770FF;
    /* neutral colors */
    --white-color: #FFFDFA;
    --cream-color: #FFF5E0;
    --whitegray-color: #D9D9D9;
    --off-white: #EDEEF6;
    --dark-grey: #3B3B3B;
    --gray-color: rgb(248, 248, 248);
    --black-color: #262626;
}

/* general */
body{
    background-color: var(--white-color);
    color: var(--black-color);
    font-family: proxima-soft, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    margin: 0px;
    box-sizing: border-box;
}
h1{
    font-family: proxima-soft, sans-serif ;
    font-weight: 600;
    font-style: bold;
    font-size: 40px;
    color: var(--white-color);
}
h2{
    font-family: proxima-soft, sans-serif;
    font-weight: 600;
    font-style: bold;;
    font-size: 32px;
}
p{
    font-family: proxima-soft, sans-serif;
    font-weight: 300;
    font-style: light;
    font-size: 20px;
    line-height: 1.5;
}
h3{
    font-family: proxima-soft, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    /*color: var(--white-color);*/
}
q{
    font-family: proxima-soft, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 1.5;
    color: var(--black-color);
}
.justheadercontent{
    width: 100vh;
    margin-left: 64px;
    margin-top: 10vw;
}
/* index header */
.indexp{
    margin-bottom: 20px;
}
header{
    height: 100vh;
}
header div p{
    color: var(--white-color);
}
.indexvisualcolumns{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
/*darkblue header*/
.indexvisual{
    min-height: 44vw;
    width: 80vw;
    background-color: var(--main-color);
    border-radius: 0 0 150px 0;
    /* min-width: 1105px; */
    /*max-width: 1280px;*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.visualmobile{
    display: none;
}
/*photo of app*/
.indexvisualgraphic{
    background-image: url(https://pulsaid.blob.core.windows.net/photos/heroImage.png);
    background-size: cover;
    /*position: absolute;*/
    top: 130px;
    left: 65vw;
    border-radius: 16px;
    width: 500px;
    height: 500px;
}
/*two half circles*/
.indexvisualmasked{
    position: absolute;
    top: 0;
    left: 64px;
    height: 100vh;
    /*transition: opacity ease-in-out;*/
    z-index: -1;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--off-white);
    font-size: 20px;
    font-family: proxima-soft, sans-serif;
    font-weight: 300;
    position: fixed;
    width: 100%;
    transition: background-color 0.5s ease-in-out;
}
nav ul.left{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    height: 100%;
}
nav ul.right{
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding-right: 70px;
    gap:16px;
}
nav ul.rightmobile{
    display: none;
}
nav ul.leftmobile{
    display: none;
}
nav ul.leftmobilelogo{
    display: none;
}
nav ul li{
    padding: 0px 20px;
}
nav ul.left li:first-child{
    padding-left: 64px;
}
nav ul.left li:first-child img{
    border-radius: 8px;
}
.donate{
    background-color: var(--cta-color);
    padding: 10px 24px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.language{
    background-color: var(--whitegray-color);
    color: var(--black-color);
    padding: 10px 16px;
    border-radius: 8px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 6px;
}
li.language:hover{
    cursor: pointer;
    /*border: var(--cta-color) 2px solid;*/
}
nav ul li a{
    display: flex;
    align-self: flex-start;
    text-decoration: none;
    color: var(--white-color);
}
nav ul li a.active, nav ul li a:hover{
    border-bottom: 2px solid var(--white-color);
}
.headercontentindex{
    margin-left: 64px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 16vw;
    margin-top: 10vw;
}
.headercontentindex p{
    width: 580px;
}
.headerctas{
    width: 380px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
a.donatectaheader:active, a.donatectaheader:hover, a.donatectaheader:link, a.donatectaheader:visited{
    background-color: var(--cta-color);
    color: var(--white-color);
    text-decoration: none;
    text-align: center;
    padding: 10px 10px;
    width: 120px;
    border-radius: 8px;
}
a.contactctaheader:active, a.contactctaheader:link, a.contactctaheader:visited{
    border: 1px var(--white-color) solid;
    color: var(--white-color);
    text-decoration: none;
    padding: 10px 10px;
    text-align: center;
    width: 180px;
    border-radius: 8px;
}
a.contactctaheader:hover{
    background-color: var(--cta-color);
    border: var(--cta-color) 1px solid;
}

a.fourofourctaheader:active, a.fourofourctaheader:link, a.fourofourctaheader:visited{
    border: 1px var(--white-color) solid;
    color: var(--white-color);
    text-decoration: none;
    padding: 10px 10px;
    text-align: center;
    width: 180px;
    border-radius: 8px;
}
a.fourofourctaheader:hover{
    background-color: var(--cta-color);
    border: var(--cta-color) 1px solid;
}
/* end index header */
/* section 1 */
.section-1{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 307px 438px ;
    column-gap: 24px;
    row-gap: 24px;
    width: 1184px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
.section-1 .block1{
    display: grid;
    grid-template-rows: 91px auto 91px;
    background-color: var(--main-color);
    grid-row: auto;
    width: 380px;
    height: 307px;
    border-radius: 16px;
}
.section-1 .block2{
    background-color: var(--off-white);
    grid-row: auto;
    width: 780px;
    height: 307px;
    border-radius: 16px;
    grid-column: span 2;
}
.section-1 .block2 h2{
    color: var(--black-color);
}
.section-1 .block3{
    grid-row: 2;
    grid-column: 1;
    height: 438px;
    width: 380px;
    background-image: url(https://pulsaid.blob.core.windows.net/photos/CharlotteDepoorter.jpg);
    background-origin: content-box;
    background-size: cover;
}
.section-1 .block4{
    background-color: var(--off-white);
    grid-row: 2 / span 3;
    grid-column: 2;
    width: 378px;
    height: 438px;
    border-radius: 16px;
}
.section-1 .block5{
    background-color: var(--main-color);
    width: 378px;
    height: 438px;
    border-radius: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-1 .block5img{
    border-radius: 16px;
}
/* end section 1 */

/* section 2 */
.section-2{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 122px 122px 139.5px 139.5px;
    column-gap: 24px;
    row-gap: 24px;
    width: 1184px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
.section-2 .block1{
    grid-row: 1 / span 4;
    grid-column: 1;
    width: 380px;
    background-image:url(https://pulsaid.blob.core.windows.net/photos/onzePartners.jpg);
    background-origin: content-box;
    background-size: cover;
}
.section-2 .block1img{
    border-radius: 16px;
}
.section-2 .block2{
    background-color: var(--off-white);
    grid-row: 1 / span 2;
    grid-column: 2;
    width: 378px;
    height: 268px;
    border-radius: 16px;
}
.section-2 .block3{
    display: grid;
    grid-template-rows: 60px auto 60px;
    background-color: var(--main-color);
    grid-row: 1 / span 2;
    grid-column: 3;
    width: 378px;
    height: 268px;
    border-radius: 16px;
    text-align: center;
}
.section-2 .block4{
    background-color: var(--off-white);
    grid-row: 3 / span 4;
    grid-column: 2;
    width: 378px;
    height: 303px;
    border-radius: 16px;
}
.section-2 .block5{
    background-color: var(--off-white);
    grid-row: 3 / span 4;
    grid-column: 3;
    width: 378px;
    height: 303px;
    border-radius: 16px;
}

/* end section 2 */
/* section 3 */
.section-3{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr;
    column-gap: 24px;
    row-gap: 24px;
    width: 1184px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}
.section-3 .block1{
    background-color: var(--off-white);
    grid-row: 1;
    grid-column: 1;
    width: 376px;
    height: 237px;
    border-radius: 16px;
}
.section-3 .block2{
    background-color: var(--off-white);
    grid-row: 1;
    grid-column: 2;
    width: 376px;
    height: 237px;
    border-radius: 16px;
}
.section-3 .block3{
    /*background-color: var(--gray-color);*/
    grid-row: 1;
    grid-column: 3;
    width: 376px;
    height: 237px;
    border-radius: 16px;
}
/* end section 3 */
section .block1, section .block2, section .block3, section .block4, section .block5{
    /*box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 10px;*/
    box-shadow: 0px 0px 40px 0px rgba(76,76,76,0.08);
    border-radius: 16px;
}
/* footer */
footer{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 556px;
    background-color: var(--off-white);
    color: var(--dark-grey);
    display: grid;
    grid-template-rows: 300px 256px;
    grid-template-columns: 1fr 1fr;
}
.footer a:link, .footer a:visited{
    text-decoration: none;
    color: var(--dark-grey);
}
.footer a:hover{
    border-bottom: 2px solid var(--dark-grey);
}
.footer1{
    display: grid;
    grid-template-rows: 50px 70px 100px;
    row-gap: 20px;
    grid-row: 1;
    grid-column: 1;
    margin-left: 64px;
    margin-top: 64px;
}
.footer1 form{
    height: 70px;
}
.footer1 form input{
    width: 480px;
    background-color: var(--off-white);
    border: 0;
    border-bottom: 1px var(--dark-grey) solid;
    border-radius: 0 0 10px 10px;
    caret-color: var(--white-color);
    color: var(--dark-grey);
    padding: 0px 10px;
    padding-bottom: 10px;
}
.footer1 form input:focus{
    outline: none;
}
label.footerlabel{
    position: absolute;
    left: 80px;
    font-size: 16px;
    transform-origin: 0 0;
    transition: transform 0.2s ease-in-out;
}
.footer1 form input:focus + label.footerlabel, input:not(:placeholder-shown) + label{
    transform: translateY(-20px) scale(0.8);
}
.mailchimpfoot{
    position: absolute;
    left: 480px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 0;
    background-size: cover;
    background-image: url("https://pulsaid.blob.core.windows.net/photos/send.png");
    cursor: pointer;
}
.footer1 h3{
    margin: 0;
}
.footer2{
    grid-row: 2;
    grid-column: 1;
    margin-left: 64px;
    margin-top: 48px;
    width: 480px;
}
.footer3{
    grid-row: 1;
    grid-column: 2;
    margin-top: 64px;
    height: 264px;
    width: 440px;
}
.footer3 img{
    border-radius: 16px;
    width: auto;
    height: 100%;
    object-fit: cover;
}
.footer4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 2;
    grid-column: 2;
    margin-top: 48px;
}
.footer4 .footnav{
    grid-column: 1;
}
.footer4 .footcontact{
    grid-column: 2;
}
.footer4 .footnav ul{
    list-style-type: none;
    padding: 0;
}
.footer4 .footnav ul li{
    margin-bottom: 16px;
}
.footer4 .footcontact ul{
    list-style-type: none;
    padding: 0;
}
.footcontact .footsocials{
    margin-top: 18px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footcontact .footsocials img{
    margin-left: 0;
}
/* end footer */
/* content */
.bignumber{
    color: var(--white-color);
    font-family: proxima-soft, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 96px;
    margin: 0;
    line-height: 1;
    /*margin-left: 40px;*/
}
.undertext{
    color: var(--white-color);
    font-size: 20px;
    margin: 0;
    /*margin-left: 40px;*/
}
.section-1 .block1 .block1div{
    width: 380px;
    height: 370px;
    grid-row: 2;
    text-align: center;
}
.section-1 .block2 .block2div{
    margin-left: 40px;
    margin-top: 40px;
    width: 647px;
}
.section-1 .block4 .block4div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:24px;
    padding: 40px;
}
.section-1 .block4 .block4div span{
    font-weight: 400;
    font-style: italic;
}
/* section 2 */
.section-2 .block2 .block2div{
    margin-left: 34px;
    margin-top: 32px;
    width: 302px;
}
.section-2 .block2 .block2div h3{
    color: var(--main-color);
}
.section-2 .block3 .block3div{
    height: 152px;
    grid-row: 2;
}
.section-2 .block4 .block4div{
    margin-left: 34px;
    margin-top: 32px;
    width: 302px;
}
.section-2 .block5 .block5div{
    margin-left: 34px;
    margin-top: 32px;
    width: 302px;
}
/* section 3 */
.section-3 .block1 .block1div{
    margin-left: 34px;
    margin-top: 32px;
    width: 302px;
}
.section-3 .block2 .block2div{
    margin-left: 34px;
    margin-top: 32px;
    width: 302px;
}
.section-3 .block3 .block3div{
    margin-left: 34px;
    margin-top: 32px;
    width: 302px;
}
.section-3 .block3 .block3div a:hover, .section-3 .block3 .block3div a:link, .section-3 .block3 .block3div a:visited{
    padding: 10px 15px;
    border: 1px var(--black-color) solid;
    color: var(--black-color);
    text-decoration: none;
    border-radius: 8px;
}
/* 404 */
.headercontent404 h1{
    font-size: 96px;
    font-family: proxima-soft, sans-serif;
    font-weight: 800;
    font-style: normal;
    text-align: center;
}
.headercontent404 p{
    font-size: 40px;
    font-family: proxima-soft, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}
.headercontent404{
    width: 100vh;
}
.headerctas404{
    width: 100vh;
    display: flex;
    justify-content: center;
}
.pulsate {
    animation: pulsate 0.5s ease-in-out infinite;
}
@keyframes pulsate {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
/* about */
.phototext img{
    width: 310px;
    height: 262px;
    object-fit: cover;
}
.about .aboutblock1, .about .aboutblock2, .about .aboutblock3{
    margin-bottom: 24px;
    color: var(--dark-grey);
    border-radius: 16px;
    margin-left: 40px;
    margin-right: 40px;
}
.about1div, .about2div{
    background-color: var(--off-white);
}
.aboutblock1, .aboutblock2{
    margin-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1800px;
}
.aboutblock1 img, .aboutblock2 img{
    /*height: 24em;*/
    max-width: 100%;
    vertical-align: middle;
    border-radius: 16px;
}
.about1div, .about2div{
    flex: 0 0 60%;
    max-width: 60%;
    border-radius: 16px;
    padding: 20px 40px;
}
.about1img, .about2img{
    /*max-height: 500px;
    width: 50%;*/
    flex: 0 0 32%;
    max-width: 32%;
    display: flex;
    border-radius: 16px;
}
.about1img{
    min-height: 400px;
    justify-content: flex-end;
    background-image: url("https://pulsaid.blob.core.windows.net/photos/groupphoto.jpg");
    background-size: cover;
    background-position: center;
}
.about2img{
    justify-content: center;
}
.aboutblock3 {
    background-color: var(--dark-secundair);
    border-radius: 16px;
    text-align: center;
    padding: 20px;
}

.aboutblock3 h2 {
    margin-bottom: 20px;
    color: var(--off-white);
}

.team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: var(--off-white);

}

.team-person {
    text-align: center;
}
.team-person h4{
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.team-picture img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

header.about{
    height: 300px;
}
/* how it works */
.work .workblock1, .work .workblock2, .work .workblock3{
    width: auto;
    margin-bottom: 24px;
    background-color: var(--off-white);
    color: var(--dark-grey);
    border-radius: 16px;
    margin-left: 60px;
    margin-right: 60px;
}
.workblock1{
    height: auto;
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 250px;
    padding-left: 60px;
    max-width: 1800px;
}
.workblock1 img{
    border-radius: 16px;
}
.workblock1 h2{
    margin: 0;
    margin-bottom: 12px;
}
.workblock1 p{
    width: 479px;
}
.work1div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 32px;
    margin-bottom: 32px;
}
.work1img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.work1img img{
    max-height: 320px;
    width: auto;
}

header.work{
    height: 300px;
}
/* contact */
.contact .contactblock1, .contact .contactblock2, .contact .contactblock3{
    width: auto;
    margin-bottom: 24px;
    background-color: transparent;
    color: var(--white-color);
    border-radius: 16px;
    margin-left: 60px;
    margin-right: 60px;
}
.contactblock1{
    height: auto;
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 250px;
    padding-left: 60px;
    max-width: 1800px;
}
.contactblock1 img{
    border-radius: 16px;
}
.contactblock1 h2{
    margin: 0;
    margin-bottom: 12px;
}
.contactblock1 a:link, .contactblock1 a:visited, .contactblock1 a:active{
    text-decoration: none;
    color: var(--white-color);
    border: white 1px solid;
    padding: 12px 24px;
    border-radius: 8px;
    width: fit-content;
    margin-top: 20px;
}
.contactblock1 a:hover{
    background-color: var(--cta-color);
    border: var(--cta-color) 1px solid;
}
.contact1div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 32px;
    margin-bottom: 32px;
}
.contact1img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 60px;
    padding-bottom: 60px;
}
.contact1img img{
    max-height: 420px;
}
header.contact{
    height: 300px;
}
a.no-underline:hover{
    border-bottom: none;
}
/* hamburgermenu */
.hamburger {
    cursor: pointer;
}
ul.menu {
    display: none;
    position: absolute;
    background-color: #6F79B9;
    width: 101vw;
    left: 0;
    top: 0;
    box-shadow: 0px 0px 40px 0px rgba(76,76,76,0.16);
    z-index: 1;
    border-radius: 0 0 95px 0;
    list-style-type: none;
    padding: 0;
    padding-bottom: 40px;
}
.menu a {
    color: var(--white-color);
    padding: 12px 40px;
    text-decoration: none;
    display: block;
}
.menu .cross{
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 20px 20px;
}
.colored{
    background-color: #6F79B9;
}
.colored div{
    color: var(--white-color);
}
.colored div h3{
    color: var(--white-color);
}
.download-button{
    font-size: 28px;
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--cta-color);
    padding: 5px 20px;
    border-radius: 10px;
}
.apk1img{
    width: 200px;
    height: auto;
    background-color: var(--white-color);
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.apkdiv{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    text-align: center;
}
.apkblock{
    width: fit-content;
    margin-bottom: 40px;
    margin-inline: auto;
}
/* smaller pc + blocks in 1 column */
@media screen and (max-width: 1300px){
    .indexvisualmasked{
        display: none;
    }
    /* section 1 */
    .section-1{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
        width: 90vw;
        margin-left: 5vw;
        margin-right: auto;
        margin-top: 60px;
    }
    .section-1 .block1{
        display: grid;
        grid-template-rows: auto auto auto;
        width: 90vw;
        height: 226px;
        grid-row: 1;
    }
    .section-1 .block1 .block1div{
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 35px;
        height: 226px;
    }
    .section-1 .block1 .block1div p, .section-1 .block1 .block1div h2{
        margin-left: 0;
    }
    .section-1 .block2{
        width: 90vw;
        height: auto;
        border-radius: 16px;
        grid-row: 2;
        grid-column: 1;
    }
    .section-1 .block2 .block2div{
        margin-left: auto;
        margin-right: auto;
        width: 70vw;
        margin-bottom: 50px;
    }
    .section-1 .block3{
        grid-template-rows: none;
        grid-template-columns: none;
        width: 90vw;
        height: 212px;
        grid-row: 3;
    }
    .section-1 .block3 .block3div{
        width: auto;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .section-1 .block3 .block3div p, .section-1 .block3 .block3div h2{
        margin-left: 0;
        text-align: left;
    }
    .section-1 .block3{
        height: 600px;
    }
    .section-1 .block4{
        width: 90vw;
        height: auto;
        min-height: 200px;
        grid-column: 1;
        grid-row: 4;
    }
    .section-1 .block4 .block4div{
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    .section-1 .block5{
        height: 438px;
        width: 90vw;
        grid-column: 1;
        grid-row: 5;
        overflow: hidden;
    }
    .section-1 .block5img{
        border-radius: 16px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    /* end section 1 */
    /* section 2 */
    .section-2{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
        width: 90vw;
        margin-left: 5vw;
    }
    .section-2 .block1{
        grid-row: 3;
        grid-column: 1;
        height: 1000px;
        width: 90vw;
        overflow: hidden;
    }
    .section-2 .block1img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .section-2 .block2{
        grid-row: 1;
        grid-column: 1;
        width: 90vw;
        height: auto;
    }
    .section-2 .block2 .block2div{
        margin-left: auto;
        margin-right: auto;
        width: 70vw;
        margin-bottom: 40px;
    }
    .section-2 .block3{
        display: grid;
        grid-template-rows: none;
        grid-row: 2;
        grid-column: 1;
        width: 90vw;
        height: 212px;
        border-radius: 16px;
    }
    .section-2 .block3 .block3div{
        width: auto;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .section-2 .block3 .block3div p, .section-2 .block3 .block3div h2{
        margin-left: 0;
        text-align: left;
        width: auto;
    }
    .section-2 .block4{
        grid-row: 4;
        grid-column: 1;
        width: 90vw;
        height: auto;
    }
    .section-2 .block4 .block4div{
        margin-bottom: 40px;
    }
    .section-2 .block4 .block4div p{
        width: 70vw;
        word-wrap: break-word;
    }
    .section-2 .block5{
        grid-row: 5;
        grid-column: 1;
        width: 90vw;
        height: auto;
    }
    .section-2 .block5 .block5div{
        margin-bottom: 40px;
    }
    .section-2 .block5 .block5div p{
        width: 70vw;
        word-wrap: break-word;
    }
    /* end section 2 */
    /* section 3 */
    .section-3{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        width: 90vw;
        margin-left: 5vw;
    }
    .section-3 .block1{
        grid-row: 1;
        grid-column: 1;
        width: 90vw;
        height: auto;
    }
    .section-3 .block1 .block1div{
        /*margin-left: auto;
        margin-right: auto;*/
        width: 70vw;
        margin-bottom: 40px;
    }
    .section-3 .block2{
        grid-row: 2;
        grid-column: 1;
        width: 90vw;
        height: auto;
    }
    .section-3 .block2 .block2div{
        /*margin-left: auto;
        margin-right: auto;*/
        width: 70vw;
        margin-bottom: 40px;
    }
    .section-3 .block3{
        grid-row: 3;
        grid-column: 1;
        width: 90vw;
        height: auto;
    }
    .section-3 .block3 .block3div{
        /*margin-left: auto;
        margin-right: auto;*/
        width: 70vw;
        margin-bottom: 40px;
    }
    /*.section-3 .block3 .block3div h3{
        /*color: var(--main-color);*/
    /*}*/
    /* end section 3 */
    /* footer */
    footer{
        height: auto;
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr;
    }
    .footer1{
        margin-top: 32px;
        margin-left: 40px;
        display: grid;
        grid-template-rows: 50px 70px 100px;
        row-gap: 20px;
        grid-row: 1;
        grid-column: 1;
    }
    label.footerlabel{
        left: 56px;
    }
    .mailchimpfoot{
        left: 480px;
    }
    .footer2{
        grid-row: 2;
        grid-column: 1;
        margin-left: 5vw;
        margin-top: 0;
        margin-bottom: 40px;
        width: 90vw;
    }
    .footer2 p{
        text-align: center;
    }
    .footer3{
        grid-row: 3;
        grid-column: 1;
        margin-top: 0;
        width: 90vw;
        margin-left: 5vw;
    }
    .footer3 img{
        width: auto;
        height: 100%;
        object-fit: cover;
    }


    .footer4{
        grid-row: 4;
        grid-column: 1;
        margin-top: 20px;
    }
    .footer4 .footnav{
        grid-column: 1;
        margin-left: 20px;
    }
    .footer4 .footcontact{
        grid-column: 2;
    }
    .footer4 .footcontact ul li h3{
        margin-top: 0;
        margin-bottom: 12px;
    }
    .footcontact .footsocials{
        margin-top: 18px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .footcontact .footsocials img{
        margin-left: 0;
    }
    /* end footer */
}

@media screen and (max-width: 600px){
    .footer1 form input{
        width: 70vw;
    }
    .mailchimpfoot{
        position: absolute;
        left: auto;
        right: 20vw;
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: 0;
        background-image: url("https://pulsaid.blob.core.windows.net/icons/sendarrow.svg");
        cursor: pointer;
    }
}

/* ipad */
@media screen and (max-width: 1000px){
    .indexvisualgraphic{
        display: none;
    }
    nav ul.right{
        display: none;
    }
    nav ul.rightmobile{
        color: var(--black-color);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        padding-right: 70px;
    }
    nav ul.left{
        display: none;
    }
    nav ul.leftmobile{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        height: 100%;
    }
    .donate{
        position: absolute;
        right: 200px;
        top: 20px;
        list-style-type: none;
    }
    .hamburger{
        position: absolute;
        right: 30px;
        top: 20px;
    }
    nav ul.leftmobilelogo{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        height: 100%;
    }
    .leftmobilelogo{
        list-style-type: none;
        margin-bottom: 100px;
    }
    .mobilelogo{
        position: absolute;
        left: 60px;
        top: 20px;
    }
    .section-1 .block3{
        height: 438px;
    }
    .section-2 .block1{
        height: 800px;
    }
    .phototext img {
        width: 100%;
        height: auto;
    }
    .about .aboutblock1, .about .aboutblock2, .about .aboutblock3 {
        margin-left: 10px;
        margin-right: 10px;
    }
    .aboutblock1, .aboutblock2 {
        flex-direction: column;
        gap: 24px;
    }
    .aboutblock1 img, .aboutblock2 img {
        height: auto;
        max-width: 80vw;
    }
    .about1div, .about2div, .about1img, .about2img {
        flex: 0 0 100%;
        max-width: 100%;
        justify-content: center;
    }
    .about1img{
        min-height: 500px;    
    }
    .team {
        flex-direction: column;
    }

    .team-person {
        margin-bottom: 20px;
    }
    .work .workblock1, .work .workblock2, .work .workblock3 {
        margin-left: 10px;
        margin-right: 10px;
        padding: 20px 40px;
    }
    .workblock1 {
        grid-template-columns: 1fr;
        column-gap: 20px;
        padding-left: 10px;
    }
    .workblock1 p {
        width: auto;
    }
    .work1div, .work1img {
        align-items: center;
    }
    .work1img img {
        max-height: auto;
        width: 100%;
    }

}
/* phone */
@media screen and (max-width: 650px){
    .indexp{
        max-width: 70vw;
        word-wrap: break-word;
        margin-bottom: 40px;
    }
    .headerctas{
        width: 180px;
        display: block;
    }
    .donatectaheader{
        display: none;
    }
    .contactctaheader{
        display: block;
        width: 180px;
    }
    .indexvisual{
        width: 101vw;
        position: absolute;
    }
    nav ul.rightmobile{
        color: var(--white-color);
    }
    .section-1 .block3{
        height: 438px;
    }
    .section-2 .block1{
        height: 800px;
    }
    .about1div, .about2div, .about1img, .about2img {
        flex: 0 0 100%;
        max-width: 100%;
        justify-content: center;
    }
    .phototext img {
        width: 100%;
        height: auto;
    }
    .about .aboutblock1, .about .aboutblock2, .about .aboutblock3 {
        margin-left: 10px;
        margin-right: 10px;
    }
    .aboutblock1, .aboutblock2 {
        flex-direction: column;
    }
    .aboutblock1 img, .aboutblock2 img {
        height: auto;
        max-width: 80vw;
    }
    .about1div, .about2div, .about1img, .about2img {
        flex: 0 0 100%;
        max-width: 100%;
        justify-content: center;
    }
    .team {
        flex-direction: column;
    }

    .team-person {
        margin-bottom: 20px;
    }
    .work .workblock1, .work .workblock2, .work .workblock3 {
        margin-left: 10px;
        margin-right: 10px;
        padding: 20px 40px;
    }
    .workblock1 {
        grid-template-columns: 1fr;
        column-gap: 20px;
        padding-left: 10px;
    }
    .workblock1 p {
        width: auto;
    }
    .work1div, .work1img {
        align-items: center;
    }
    .work1img img {
        max-height: auto;
        width: 100%;
    }
}

/* donate dissapear */
@media screen and (max-width: 440px ){
    .donate{
        display: none;
    }
}


/*fix index visualpic*/
@media all and (min-width: 1600px) {
    .indexvisualgraphic{
        left: 1150px;
    }
}