:root{
    /* main color */
    --main-color: #2D7E7C;
    --main-color-light: #51B797;
    /* secondary color */
    --secondary-color: #505CA5;
    --secondary-color-light: #6F79B9;
    /* call to action color */
    --cta-color: #EF795C;
    --cta-color-light: #EE9A79;
    /* semantic  colors */
    --success-color: #29CF4E;
    --warning-color: #E51C1C;
    --info-color: #4770FF;
    /* neutral colors */
    --white-color: #FFFDFA;
    --cream-color: #FFF5E0;
    --whitegray-color: #D9D9D9;
    --gray-color: rgb(248, 248, 248);
    --black-color: #262626;
}

/* poppins */

@font-face {
    font-family: "poppins-extralight";
    src: url(../fonts/Poppins/Poppins-ExtraLight.ttf);
}
@font-face {
    font-family: "poppins-light";
    src: url(../fonts/Poppins/Poppins-Light.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "poppins-regular";
    src: url(../fonts/Poppins/Poppins-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* comfortaa */
@font-face {
    font-family: "comfortaa-bold";
    src: url(../fonts/Comfortaa/static/Comfortaa-Bold.ttf);
}

@font-face {
    font-family: "comfortaa-semibold";
    src: url(../fonts/Comfortaa/static/Comfortaa-SemiBold.ttf);
}

/* general */
body{
    background-color: var(--white-color);
    color: var(--black-color);
    font-family: 'poppins-extralight', sans-serif ;
    font-size: 16px;
    margin: 0px;
    box-sizing: border-box;
}
h1{
    font-family: "comfortaa-bold", sans-serif;
    font-size: 36px;
    color: var(--white-color);
}
h2{
    font-family: "comfortaa-semibold", sans-serif;
    font-size: 24px;
}
p{
    font-family: "poppins-extralight", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
h3{
    font-family: "poppins-light", sans-serif;
    font-size: 20px;
    color: var(--white-color);
}
q{
    font-family: "poppins-light", sans-serif;
    font-size: 30px;
    color: var(--black-color);
}
.justheadercontent{
    width: 100vh;
    margin-left: 64px;
    margin-top: 74px;
}
/* index header */
.indexp{
    margin-bottom: 20px;
}
header{
    height: 100vh;
}
header div p{
    color: var(--white-color);
}
.indexvisualcolumns{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.indexvisual{
    height: 101vh;
    width: 80vw;
    background-color: var(--secondary-color);
    border-radius: 0 0 150px 0;
    /* min-width: 1105px; */
    max-width: 1280px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.visualmobile{
    display: none;
}
.indexvisualgraphic{
    position: fixed;
    top: 130px;
    left: 65vw;
    border-radius: 24px;
}
.indexvisualmasked{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transition: opacity ease-in-out;
    z-index: -1;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-color);
    font-size: 24px;
    font-family: 'poppins-regular', sans-serif;
}
nav ul.left{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    height: 100%;
}
nav ul.right{
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding-right: 70px;
}
nav ul.rightmobile{
    display: none;
}
nav ul.leftmobile{
    display: none;
}
nav ul.leftmobilelogo{
    display: none;
}
nav ul li{
    padding: 0px 20px;
}
nav ul.left li:first-child{
    padding-left: 64px;
}
nav ul.left li:first-child img{
    border-radius: 8px;
}
.donate{
    background-color: var(--cta-color);
    padding: 15px 20px;
    border-radius: 8px;
}
.language{
    background-color: var(--whitegray-color);
    color: var(--black-color);
    padding: 15px;
    border-radius: 8px;
    margin-left: 10px;
    font-size: 16px;
}
li.language:hover{
    cursor: pointer;
    border: var(--cta-color) 2px solid;
    padding: 13px;
}
nav ul li a{
    text-decoration: none;
    color: var(--white-color);
}
nav ul li a.active, nav ul li a:hover{
    border-bottom: 2px solid var(--white-color);
}
.headercontentindex{
    margin-left: 64px;
}
.headercontentindex p{
    width: 440px;
}
.headerctas{
    width: 380px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
a.donatectaheader:active, a.donatectaheader:hover, a.donatectaheader:link, a.donatectaheader:visited{
    background-color: var(--cta-color);
    color: var(--white-color);
    text-decoration: none;
    text-align: center;
    padding: 10px 10px;
    width: 120px;
    border-radius: 8px;
}
a.contactctaheader:active, a.contactctaheader:link, a.contactctaheader:visited{
    border: 1px var(--white-color) solid;
    color: var(--white-color);
    text-decoration: none;
    padding: 10px 10px;
    text-align: center;
    width: 180px;
    border-radius: 8px;
}
a.contactctaheader:hover{
    background-color: var(--cta-color);
    border: var(--cta-color) 1px solid;
}

a.fourofourctaheader:active, a.fourofourctaheader:link, a.fourofourctaheader:visited{
    border: 1px var(--white-color) solid;
    color: var(--white-color);
    text-decoration: none;
    padding: 10px 10px;
    text-align: center;
    width: 180px;
    border-radius: 8px;
}
a.fourofourctaheader:hover{
    background-color: var(--cta-color);
    border: var(--cta-color) 1px solid;
}
/* end index header */
/* section 1 */
.section-1{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 268px 78px auto auto;
    column-gap: 24px;
    row-gap: 24px;
    width: 1184px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
.section-1 .block1{
    display: grid;
    grid-template-rows: 123px auto 123px;
    background-color: var(--main-color);
    grid-row: auto / span 2;
    width: 380px;
    height: 370px;
    border-radius: 24px;
}
.section-1 .block2{
    background-color: var(--gray-color);
    grid-row: auto / span 1;
    width: 780px;
    height: 268px;
    border-radius: 24px;
    grid-column: auto / span 2;
}
.section-1 .block3{
    display: grid;
    grid-template-rows: 112px auto 112px;
    background-color: var(--main-color);
    grid-row: auto / span 2;
    grid-column: 1;
    width: 380px;
    height: 338px;
    border-radius: 24px;
}
.section-1 .block4{
    background-color: var(--gray-color);
    grid-row: 2 / span 3;
    grid-column: 2;
    width: 428px;
    height: 438px;
    border-radius: 24px;
}
.section-1 .block5{
    grid-row: 2 / span 3;
    grid-column: 3;
    height: 438px;
    width: 324px;
}
.section-1 .block5img{
    border-radius: 24px;
}
/* end section 1 */

/* section 2 */
.section-2{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 122px 122px 139.5px 139.5px;
    column-gap: 24px;
    row-gap: 24px;
    width: 1184px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
.section-2 .block1{
    grid-row: 1 / span 4;
    grid-column: 1;
}
.section-2 .block1img{
    border-radius: 24px;
}
.section-2 .block2{
    background-color: var(--gray-color);
    grid-row: 1 / span 2;
    grid-column: 2;
    width: 378px;
    height: 268px;
    border-radius: 24px;
}
.section-2 .block3{
    display: grid;
    grid-template-rows: 60px auto 60px;
    background-color: var(--main-color);
    grid-row: 1 / span 2;
    grid-column: 3;
    width: 378px;
    height: 268px;
    border-radius: 24px;
}
.section-2 .block4{
    background-color: var(--gray-color);
    grid-row: 3 / span 4;
    grid-column: 2;
    width: 378px;
    height: 303px;
    border-radius: 24px;
}
.section-2 .block5{
    background-color: var(--gray-color);
    grid-row: 3 / span 4;
    grid-column: 3;
    width: 378px;
    height: 303px;
    border-radius: 24px;
}

/* end section 2 */
/* section 3 */
.section-3{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr;
    column-gap: 24px;
    row-gap: 24px;
    width: 1184px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}
.section-3 .block1{
    background-color: var(--gray-color);
    grid-row: 1;
    grid-column: 1;
    width: 376px;
    height: 237px;
    border-radius: 24px;
}
.section-3 .block2{
    background-color: var(--gray-color);
    grid-row: 1;
    grid-column: 2;
    width: 376px;
    height: 237px;
    border-radius: 24px;
}
.section-3 .block3{
    background-color: var(--gray-color);
    grid-row: 1;
    grid-column: 3;
    width: 376px;
    height: 237px;
    border-radius: 24px;
}
/* end section 3 */
section .block1, section .block2, section .block3, section .block4, section .block5{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 10px;
    border-radius: 24px;
}
/* footer */
footer{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 556px;
    background-color: var(--secondary-color-light);
    color: var(--white-color);
    display: grid;
    grid-template-rows: 300px 256px;
    grid-template-columns: 1fr 1fr;
}
.footer a:link, .footer a:visited{
    text-decoration: none;
    color: var(--white-color);
}
.footer a:hover{
    border-bottom: 2px solid var(--white-color);
}
.footer1{
    display: grid;
    grid-template-rows: 50px 70px 100px;
    row-gap: 20px;
    grid-row: 1;
    grid-column: 1;
    margin-left: 64px;
    margin-top: 64px;
}
.footer1 img{
    border-radius: 8px;
}
.footer1 form{
    height: 70px;
}
.footer1 form input{
    width: 480px;
    background-color: var(--secondary-color-light);
    border: 0;
    border-bottom: 1px var(--white-color) solid;
    border-radius: 0 0 10px 10px;
    caret-color: var(--white-color);
    color: var(--white-color);
    padding: 0px 10px;
    padding-bottom: 10px;
}
.footer1 form input:focus{
    outline: none;
}
label.footerlabel{
    position: absolute;
    left: 80px;
    font-size: 16px;
    transform-origin: 0 0;
    transition: transform 0.2s ease-in-out;
}
.footer1 form input:focus + label.footerlabel, input:not(:placeholder-shown) + label{
    transform: translateY(-20px) scale(0.8);
}
.mailchimpfoot{
    position: absolute;
    left: 530px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 0;
    background-image: url("https://pulsaid.blob.core.windows.net/icons/sendarrow.svg");
    cursor: pointer;
}
.footer1 h3{
    margin: 0;
}
.footer2{
    grid-row: 2;
    grid-column: 1;
    margin-left: 64px;
    margin-top: 48px;
    width: 480px;
}
.footer3{
    grid-row: 1;
    grid-column: 2;
    margin-top: 64px;
}
.footer3 img{
    border-radius: 24px;
}
.footer4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 2;
    grid-column: 2;
    margin-top: 48px;
}
.footer4 .footnav{
    grid-column: 1;
}
.footer4 .footcontact{
    grid-column: 2;
}
.footer4 .footnav ul{
    list-style-type: none;
    padding: 0;
}
.footer4 .footnav ul li{
    margin-bottom: 16px;
}
.footer4 .footcontact ul{
    list-style-type: none;
    padding: 0;
}
.footcontact .footsocials{
    margin-top: 18px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footcontact .footsocials img{
    margin-left: 0;
}
/* end footer */
/* content */
.bignumber{
    color: var(--white-color);
    font-family: "comfortaa-semibold", sans-serif;
    font-size: 96px;
    margin: 0;
    line-height: 1;
    margin-left: 40px;
}
.undertext{
    color: var(--white-color);
    margin: 0;
    margin-left: 40px;
}
.section-1 .block1 .block1div{
    width: 380px;
    height: 370px;
    grid-row: 2;
}
.section-1 .block2 .block2div{
    margin-left: 60px;
    margin-top: 56px;
    width: 647px;
}
.section-1 .block3 .block3div{
    width: 380px;
    height: 370px;
    grid-row: 2;
}
.section-1 .block4 .block4div{
    width: 356px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 36px;
}
/* section 2 */
.section-2 .block2 .block2div{
    margin-left: 34px;
    margin-top: 32px;
    width: 302px;
}
.section-2 .block3 .block3div{
    height: 152px;
    grid-row: 2;
}
.section-2 .block4 .block4div{
    margin-left: 34px;
    margin-top: 32px;
    width: 302px;
}
.section-2 .block5 .block5div{
    margin-left: 34px;
    margin-top: 32px;
    width: 302px;
}
/* section 3 */
.section-3 .block1 .block1div{
    margin-left: 34px;
    margin-top: 32px;
    width: 302px;
}
.section-3 .block2 .block2div{
    margin-left: 34px;
    margin-top: 32px;
    width: 302px;
}
.section-3 .block3 .block3div{
    margin-left: 34px;
    margin-top: 32px;
    width: 302px;
}
.section-3 .block3 .block3div a:hover, .section-3 .block3 .block3div a:link, .section-3 .block3 .block3div a:visited{
    padding: 10px 15px;
    border: 1px var(--black-color) solid;
    color: var(--black-color);
    text-decoration: none;
    border-radius: 8px;
}
/* 404 */
.headercontent404 h1{
    font-size: 96px;
    font-family: 'comfortaa-semibold', sans-serif;
    text-align: center;
}
.headercontent404 p{
    font-size: 40px;
    font-family: 'comfortaa-semibold', sans-serif;
    text-align: center;
}
.headercontent404{
    width: 100vh;
}
.headerctas404{
    width: 100vh;
    display: flex;
    justify-content: center;
}
.pulsate {
    animation: pulsate 0.5s ease-in-out infinite;
}
@keyframes pulsate {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
/* about */
.phototext img{
    width: 310px;
    height: 262px;
    object-fit: cover;
}
.about .aboutblock1, .about .aboutblock2, .about .aboutblock3{
    width: auto;
    margin-bottom: 24px;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 24px;
    margin-left: 60px;
    margin-right: 60px;
}
.aboutblock1{
    height: auto;
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 250px;
    padding-left: 60px;
    max-width: 1800px;
}
.aboutblock1 img{
    border-radius: 24px;
}
.aboutblock1 h2{
    margin: 0;
    margin-bottom: 12px;
}
.aboutblock1 p{
    width: 479px;
}
.about1div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 32px;
    margin-bottom: 32px;
}
.about1img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.aboutblock2{
    height: auto;
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.aboutblock2 img{
    border-radius: 24px;
}
.about2img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
}
.aboutblock2 p{
    width: 479px;
    margin-right: 60px;
}
.about2div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.aboutblock3{
    height: 748px;
    margin-bottom: 48px;
    padding-top: 60px;
    padding-left: 48px;
}
header.about{
    height: 300px;
}
.phototext{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 262px 1fr;
    justify-content: center;
    align-items: start;
    column-gap: 28px;
}
.phototext img{
    border-radius: 24px;
}
.phototext div{
    width: 330px;
    display: grid;
    grid-template-rows: auto auto 200px auto;
}
.phototext div h3{
    margin-bottom: 8px;
}
.phototext p{
    margin-bottom: 40px;
    margin-top: 0;
}
.phototext div a.email:link, .phototext div a.email:visited, .phototext div a.email:active{
    border: 0;
    background-color: transparent;
    color: var(--white-color);
    margin:0;
    font-family: 'poppins-extralight', sans-serif;
    font-size: 16px;
    padding: 0;
    margin-bottom: 12px;
}
.phototext div a.email:hover{
    border-bottom: 1px var(--white-color) solid;
    border-radius: 0;
    margin-bottom: 11px;
}
.phototext div a:link, .phototext div a:visited, .phototext div a:active{
    text-decoration: none;
    color: var(--white-color);
    border: white 1px solid;
    padding: 12px 24px;
    border-radius: 8px;
    width: fit-content;
}
.phototext div a:hover{
    background-color: var(--cta-color);
    border: var(--cta-color) 1px solid;
}
/* how it works */
.work .workblock1, .work .workblock2, .work .workblock3{
    width: auto;
    margin-bottom: 24px;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 24px;
    margin-left: 60px;
    margin-right: 60px;
}
.workblock1{
    height: auto;
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 250px;
    padding-left: 60px;
    max-width: 1800px;
}
.workblock1 img{
    border-radius: 24px;
}
.workblock1 h2{
    margin: 0;
    margin-bottom: 12px;
}
.workblock1 p{
    width: 479px;
}
.work1div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 32px;
    margin-bottom: 32px;
}
.work1img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

header.work{
    height: 300px;
}
/* contact */
.contact .contactblock1, .contact .contactblock2, .contact .contactblock3{
    width: auto;
    margin-bottom: 24px;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 24px;
    margin-left: 60px;
    margin-right: 60px;
}
.contactblock1{
    height: auto;
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 250px;
    padding-left: 60px;
    max-width: 1800px;
}
.contactblock1 img{
    border-radius: 24px;
}
.contactblock1 h2{
    margin: 0;
    margin-bottom: 12px;
}
.contactblock1 a:link, .contactblock1 a:visited, .contactblock1 a:active{
    text-decoration: none;
    color: var(--white-color);
    border: white 1px solid;
    padding: 12px 24px;
    border-radius: 8px;
    width: fit-content;
    margin-top: 20px;
}
.contactblock1 a:hover{
    background-color: var(--cta-color);
    border: var(--cta-color) 1px solid;
}
.contact1div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 32px;
    margin-bottom: 32px;
}
.contact1img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 60px;
    padding-bottom: 60px;
}
header.contact{
    height: 300px;
}
a.no-underline:hover{
    border-bottom: none;
}

/* smaller pc */
@media screen and (max-width: 1300px){
    .indexvisualmasked{
        display: none;
    }
}

/* ipad */
@media screen and (max-width: 1000px){
    .indexvisualgraphic{
        display: none;
    }
    nav ul.right{
        display: none;
    }
    nav ul.rightmobile{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        padding-right: 70px;
    }
    nav ul.left{
        display: none;
    }
    nav ul.leftmobile{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        height: 100%;
    }
    .donate{
        position: absolute;
        right: 200px;
        top: 20px;
        list-style-type: none;
    }
    .hamburger{
        position: absolute;
        right: 30px;
        top: 20px;
    }
    nav ul.leftmobilelogo{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        height: 100%;
    }
    .leftmobilelogo{
        list-style-type: none;
        margin-bottom: 100px;
    }
    .mobilelogo{
        position: absolute;
        left: 60px;
        top: 20px;
    }
}
/* phone */
@media screen and (max-width: 650px){
    .indexp{
        max-width: 70vw;
        word-wrap: break-word;
        margin-bottom: 40px;
    }
    .donatectaheader{
        display: none;
    }
    .indexvisual{
        width: 101vw;
    }
}

/* donate dissapear */
@media screen and (max-width: 440px ){
    .donate{
        display: none;
    }
}


/*fix index visualpic*/
@media all and (min-width: 1600px) {
    .indexvisualgraphic{
        left: 1150px;
    }
}